.services
{
  padding: 78px 120px 75px;
  width: 100%;
  background-color: #F4F4F4;
}
.services__grid
{
  display: flex;
  justify-content: space-between;
}
.services__item
{
  width: calc(50% - 36px);
}
.services__img
{
  width: 100%;
}
.services__img img
{
  width: 100%;
}
.services__info
{
  margin-top: 24px;
}
.services__title
{
  font-size: 24px;
  font-weight: 600;
}
.services__description
{
  margin: 8px 0px 18px;
  color: #121D28;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}
.services__link
{
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}
.services__link img
{
  margin-left: 8px;
}
.services__arrow_pink
{
  /* position: absolute; */
  display: none;
}
.services__link:hover .services__arrow_black
{
  display: none;
}
.services__link:hover .services__arrow_pink
{
  display: inline;
}
.services__link:hover
{
  color: #DB0090;
}
