.title
{
  width: 100%;
  margin-bottom: 64px;
}
.title__main
{
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.title_description
{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #151D28;
  line-height: 1.4;
}
